<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5">
  <div class="col mb-3">
    <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none text-light">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brightness-alt-high-fill mb-3" viewBox="0 0 16 16">
        <path d="M8 3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 3zm8 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zm-13.5.5a.5.5 0 0 0 0-1h-2a.5.5 0 0 0 0 1h2zm11.157-6.157a.5.5 0 0 1 0 .707l-1.414 1.414a.5.5 0 1 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm-9.9 2.121a.5.5 0 0 0 .707-.707L3.05 5.343a.5.5 0 1 0-.707.707l1.414 1.414zM8 7a4 4 0 0 0-4 4 .5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5 4 4 0 0 0-4-4z"/>
      </svg><p class="text-light">BLUEORIZON © 2023</p>
    </a>
    <span class="nav-item mb-2 text-light">A abordagem da Blueorizon passa por uma equipara&ccedil;&atilde;o efectiva de um edif&iacute;cio a um sistema f&iacute;sico aberto, com intera&ccedil;&otilde;es permanentes com o ambiente que o rodeia.</span>
  </div>

  <div class="col mb-3">
  </div>
  <div class="col mb-3">
  </div>

  <div class="col mb-3 ">
    <h5 class="text-light">Navega&ccedil;&atilde;o</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="index.html" class="nav-link p-0 text-light">Home</a></li>
      <li class="nav-item mb-2"><a href="about.html" class="nav-link p-0 text-light">Quem Somos</a></li>
      <li class="nav-item mb-2"><a href="projects.html" class="nav-link p-0 text-light">Projectos</a></li>
      <li class="nav-item mb-2"><a href="contact.html" class="nav-link p-0 text-light">Contactos</a></li>
    </ul>
  </div>

  <div class="col mb-3">
    <h5 class="text-light">Contactos</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="https://www.google.com/maps/dir//R.+Q.ta+das+Conselheiras+4a+2825-146+Caparica/@38.6657965,-9.1967399,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0xd1ecad66af555d5:0xf298171b0ff3a9f7!2m2!1d-9.1967399!2d38.6657965" class="nav-link p-0 text-light">R. Quinta das Conselheiras, Loja 4A
        2825-146 CAPARICA</a></li>
      <li class="nav-item mb-2"><a href="tel:210135418" class="nav-link p-0 text-light"> 210135418</a></li>
    </ul>
  </div>   
</footer>