@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo
{
  color: #fff;
  text-transform: uppercase; 
}
.logo a{
  color: #fff;
  text-decoration: none;
}
.logo a:hover{
    color: #e34c04;
}
.toggle
{
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active
{
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
.toggle:hover
{
  background-color: #e34c04;
}
.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #31708b;
  transition: 0.5s;
  z-index: 2;
}

.showcase.active
{
  right: 300px;
}

.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  mix-blend-mode: overlay;
}
.text
{
  position: relative;
  z-index: 10;
}

.text h2
{
  font-size: 4em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3
{
  font-size: 3em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text p
{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.button_text
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.button_text:hover
{
  letter-spacing: 6px;
  background-color: #e34c04;
  color: #fff;
}
.text a:hover
{
  letter-spacing: 6px;
  background-color: #e34c04;
  color: #fff;
}
.social
{
  position: absolute;
  z-index: 10;
  margin-left: -2rem;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li
{
  list-style: none;
}
.social li a
{
  display: inline-block;
  margin-right: 20px;
  /* filter: invert(1); */
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}
.about_col_img
{
padding-top: 6rem;
}
.areas ul 
{
  padding-left: 0;
  list-style: none;
  letter-spacing: 2px;
}
.areas li a
{
  display: inline-block;
  margin-right: 20px;
  transition: 0.5s;
  
}
.areas li a:hover span
{ 
  transform: scale(1) translateY(-15px);
  background-color: #e34c04;
  color: #fff;
}
.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
}
.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover
{
  color: #e34c04; 
}
.map__img
{
  padding-left: 2rem;
}
.line 
{
  width: 50px;
  height: 1px;
  background: #fff;
  margin-bottom: 10px; 
}
.form
{
  padding-right: 2rem;
}
.gMaps
{
  width: 650px;
  height: 450px;
}
.sec-1 .heading 
{
  margin-bottom: 70px;
  font-weight: bold;
  color: #fff;
  position: relative;
  display: inline-block; }
  @media (max-width: 767.98px) {
    .sec-1 .heading {
      font-size: 30px;
      margin-bottom: 30px; } }
  .sec-1 .heading:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 300%;
    background: #fff;
    right: 0;
    bottom: 0; }

.sec-1 .img-r {
  position: relative;
  right: -143px;
  max-width: 590px;;
  
  right: -100px; }
  @media (max-width: 767.98px) {
    .sec-1 .img-r {
      right: auto !important; 
      margin-top: 4rem;} }

.section {
  padding: 7rem 0; }
  .section .heading {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase; }
  @media (max-width: 767.98px) {
    .section {
      padding: 4rem,0; 
      margin-left: -1rem;} }

    
          .single-portfolio {
            border-radius: 5px;
            overflow: hidden;
            color: #fff; }
            .single-portfolio > a {
              overflow: hidden;
              position: relative;
              display: block; }
              .single-portfolio > a:before {
                position: absolute;
                content: "";
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                opacity: 0;
                visibility: hidden;
                height: 100%;
                z-index: 2;
                -webkit-transition: .3s all ease;
                -o-transition: .3s all ease;
                transition: .3s all ease;
                background: rgba(0, 0, 0, 0.5); }
              .single-portfolio > a .contents {
                margin-top: 20px;
                visibility: visible;
                margin-top: 20px;
                z-index: 3; }
                .single-portfolio > a .contents h3, .single-portfolio > a .contents .h3 {
                  font-size: 16px;
                  font-weight: bold;
                  color: #fff; }
              .single-portfolio > a img {
                -webkit-transition: .3s all ease;
                -o-transition: .3s all ease;
                transition: .3s all ease;
                -webkit-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1); }
              .single-portfolio > a:hover:before {
                visibility: visible;
                opacity: 1; }
              .single-portfolio > a:hover img {
                -webkit-transform: scale(1.05);
                -ms-transform: scale(1.05);
                transform: scale(1.05); }
              .single-portfolio > a:hover .contents {
                margin-top: 0px;
                opacity: 1;
                visibility: visible; }
            .single-portfolio .contents {
              position: absolute;
              top: 50%;
              left: 50%;
              width: 100%;
              opacity: 0;
              visibility: hidden;
              -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              text-align: center;
              -webkit-transition: .3s all ease;
              -o-transition: .3s all ease;
              transition: .3s all ease; }
              .single-portfolio .contents h3, .single-portfolio .contents .h3 {
                color: #fff; }
              .single-portfolio .contents .cat {
                color: rgba(255, 255, 255, 0.5); }

                .accordion-button {
                  position: relative;
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  width: 100%;
                  padding: 1rem 1.25rem;
                  font-size: 1rem;
                  color: #212529;
                  background-color: transparent;
                  border: 1px solid rgba(0, 0, 0, 0.125);
                  border-radius: 0;
                  overflow-anchor: none;
                  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, border-radius 0.15s ease, -webkit-box-shadow 0.15s ease-in-out;
                  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, border-radius 0.15s ease, -webkit-box-shadow 0.15s ease-in-out;
                  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
                  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
                  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease, -webkit-box-shadow 0.15s ease-in-out; }
                  @media (prefers-reduced-motion: reduce) {
                    .accordion-button {
                      -webkit-transition: none;
                      -o-transition: none;
                      transition: none; } }
                  .accordion-button.collapsed {
                    border-bottom-width: 0; 
                    padding-bottom: 0;
                    padding-top: 0; }
                  .accordion-button:not(.collapsed) {
                    color: #e34c04;
                    background-color: #ffeee6; }
                    .accordion-button:not(.collapsed)::after {
                      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23e34c04'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                      -webkit-transform: rotate(180deg);
                      -ms-transform: rotate(180deg);
                      transform: rotate(180deg); }
                  .accordion-button::after {
                    -ms-flex-negative: 0;
                    flex-shrink: 0;
                    width: 1.25rem;
                    height: 1.25rem;
                    margin-left: auto;
                    content: "";
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                    background-repeat: no-repeat;
                    background-size: 1.25rem;
                    -webkit-transition: -webkit-transform 0.2s ease-in-out;
                    transition: -webkit-transform 0.2s ease-in-out;
                    -o-transition: transform 0.2s ease-in-out;
                    transition: transform 0.2s ease-in-out;
                    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out; }
                    @media (prefers-reduced-motion: reduce) {
                      .accordion-button::after {
                        -webkit-transition: none;
                        -o-transition: none;
                        transition: none; } }
                  .accordion-button:hover {
                    z-index: 2; }
                  .accordion-button:focus {
                    z-index: 3;
                    border-color: #feaa82;
                    outline: 0;
                    -webkit-box-shadow: 0 0 0 0.25rem rgba(252, 84, 4, 0.25);
                    box-shadow: 0 0 0 0.25rem rgba(252, 84, 4, 0.25); }
                
                .accordion-header {
                  margin-bottom: 0; 
                  background: #31708b;}
                
                .accordion-item:first-of-type .accordion-button {
                  border-top-left-radius: 0.25rem;
                  border-top-right-radius: 0.25rem; }
                
                .accordion-item:last-of-type .accordion-button.collapsed {
                  border-bottom-width: 1px;
                  border-bottom-right-radius: 0.25rem;
                  border-bottom-left-radius: 0.25rem; }
                
                .accordion-item:last-of-type .accordion-collapse {
                  border-bottom-width: 1px;
                  border-bottom-right-radius: 0.25rem;
                  border-bottom-left-radius: 0.25rem; }
                
                .accordion-collapse {
                  border: solid rgba(0, 0, 0, 0.125);
                  border-width: 0 1px; }
                
                .accordion-body {
                  padding: 1rem 1.25rem; 
                  background: #31708b;}
                
                .accordion-flush .accordion-button {
                  border-right: 0;
                  border-left: 0;
                  border-radius: 0; }
                
                .accordion-flush .accordion-collapse {
                  border-width: 0; }
                
                .accordion-flush .accordion-item:first-of-type .accordion-button {
                  border-top-width: 0;
                  border-top-left-radius: 0;
                  border-top-right-radius: 0; }
                
                .accordion-flush .accordion-item:last-of-type .accordion-button.collapsed {
                  border-bottom-width: 0;
                  border-bottom-right-radius: 0;
                  border-bottom-left-radius: 0; }

                  .accordion-1 .accordion-item button {
                    background-color: transparent !important;
                    color: #1e3e4c;
                    outline: none;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    border-color: rgba(0, 0, 0, 0.1);
                    border-bottom: none;
                    text-transform: uppercase;
                    text-underline-position: under;
                    text-decoration: underline;
                    font-size: 14px;
                    padding-left: 0;
                    padding-right: 0;
                    font-weight: bold;
                    color: #fc5404; }
                    .accordion-1 .accordion-item button:after {
                      -webkit-filter: brightness(0.5) sepia(1) hue-rotate(29deg) saturate(6);
                      filter: brightness(0.5) sepia(1) hue-rotate(29deg) saturate(6); }
                    .accordion-1 .accordion-item button.collapsed {
                      background-color: transparent !important;
                      border-color: rgba(0, 0, 0, 0.1);
                      -webkit-box-shadow: none;
                      box-shadow: none;
                      color: #1e3e4c; }

                  .accordion-1 .accordion-collapse {
                    border-top: none; }

                  .accordion-1 .accordion-body {
                    padding-left: 0;
                    padding-top: 0;
                    padding-right: 0; }
                

                    .post-entry-1.person-1 {
                      text-align: center; }
                      .post-entry-1.person-1 img {
                        width: 90px;
                        border-radius: 50%;
                        margin: 0 auto -45px auto; }
                      .post-entry-1.person-1 .post-entry-1-contents {
                        padding-top: 4rem; }

/* media querys gerais para mobile  */
@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
  .about_col_img
  {
  padding-top: 0;
  }
  .sec-1 .img-r {
    margin-top: 0rem;
  }
  .form
  {
    padding-right: 1rem;
  }
  .gMaps
{
  width: 300px;
}
.map__img{
padding: 0;
}
}